<div class="tabs-container">
  {{student-tabs-list studentsData=model}}

  <!-- <div class="tab">
    <ul>
      {{#each model as |studentsSourceFile|}}
          <li class="tab">
            <h3>{{studentsSourceFile.lname}}</h3>
            {{studentsSourceFile.file}}
          </li>
      {{/each}}
    </ul>
  </div> -->
</div>
