<div class="tabs-container">
  {{student-tabs-list studentsData=model.allStudents}}
  {{#each model.currentStudent as |studentData|}}
    {{students-tab lname=studentData.lname file=studentData.file}}
  {{/each}}
</div>
