
<div class="container container_theme_invisible">
  {{student-tabs-list studentsData=model.allStudents}}
</div>
<div class="container container_theme_simple">
  {{#each model.allStudents as |studentData|}}
    {{students-tab filename=studentData.file.path file=studentData.file.contents}}
  {{else}}
    This student has no files.
  {{/each}}
</div>
