
<div class="container container_theme_invisible">
  {{student-tabs-list studentsData=model.allStudents}}
</div>
<div class="container container_theme_simple">
  {{#each model.currentStudent as |studentData|}}
    {{students-tab file=studentData.file}}
  {{else}}
    This student has no files.
  {{/each}}
</div>
