<div class="tabs-container">
  {{student-tabs-list studentsData=model.allStudents}}
  <div class="tab container">
    {{#each model.currentStudent as |studentData|}}
      {{students-tab lname=studentData.lname file=studentData.file}}
    {{else}}
      This student has no files.
    {{/each}}
  </div>
</div>
