header {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    color: #2e7da3;
}

body {
    background-image: url("../img/background.jpg");
    width: 800px;
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

footer {
    position:fixed;
    bottom:0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #2e7da3;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-container button {
  height: 60px;
  width: 60px;
  float: left;
  background-color: #2e7da3;
  color: white;
  font-size: 40px;
  display: none;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    display: none;
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 800px;
    padding: 20px;
    display: none;
}

.tab-content li {
    list-style-type: none;
    border-bottom: thin solid #888888;
}

.container {
    border: thin solid #888888;
    background-color: rgba(255,255,255,0.75);
}

.container header {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: #2e7da3;
    background-color: rgba(255,255,255,0.75);
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
}

.warnings-container {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    border: none;
}

.warning {
    margin: 0px;
    text-align: center;
    color: #2e7da3;
    text-transform: uppercase;
    display: none;
}

/*.login-form-container {
    padding: 10px ;
}*/

.login-form-container * {
    margin: auto;
    width: 200px;
    /*margin-bottom: 10px;*/
    display: block;
}

input {
    width:100%;
    box-sizing: border-box;
}

.login-form-container input {
  margin-bottom: 10px;
  height: 35px;
}

.login-form-container button {
    height: 40px;
    background-color: #2e7da3;
    /*border: none;*/
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

table {
    font-size: 16px;
    width: 100%;
    text-align: center;
}
th {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
}

td {
  border: 1px solid rgba(46,125,163,0.2);
  background-color: rgba(46,125,163,0.1);
}

.teachers-list-container button {
    background-color: rgba(255,255,255,0.75);
    border: 3px solid rgba(46,125,163,0.3);
    /*color: #2e7da3;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.delete-button {
    color: rgba(210, 77, 87, 0.9);
}

.add-button {
    color: rgba(38, 166, 91, 0.9);
}

.teachers-list-container input {
  font-size: inherit;
  text-align: inherit;
  height: 20px;
}
