header {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    color: #2e7da3;
}

body {
    background-image: url("/assets/images/background.jpg");
    width: 800px;
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

footer {
    position:fixed;
    bottom:0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #2e7da3;
}

.container {
    border: thin solid #888888;
    background-color: rgba(255,255,255,0.75);
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    padding: 3px;
    background-color: #ccc;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu li a .active {
  position: relative;
  background-color: #fff;
  color: #2e7da3;
  border-bottom: 1px solid #fff;
  z-index: 5;
}

.tab {
    /*display: none;*/
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 800px;
    padding: 20px;
    /*display: none;*/
}

.tab-content li {
    list-style-type: none;
    border-bottom: thin solid #888888;
}
