/************************
 **** Block 'header' ****
 ************************/
.header {

}

/*Block: 'header', modifier 'theme' with value 'simple'*/
.header_theme_simple {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2e7da3;
  border: thin solid #888888;
  background-color: rgba(255,255,255,0.75);
}

.header__link:link, .header__link:visited,
.header__link:hover, .header__link:active {
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e7da3;
}

/**********************
 **** Block 'body' ****
 **********************/

body {
    background-image: url("/assets/images/background.jpg");
    width: 800px;
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

/************************
 **** Block 'footer' ****
 ************************/

.footer {
    position:fixed;
    bottom:0;
}

.footer_theme_simple {
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #2e7da3;
  border: thin solid #888888;
  background-color: rgba(255,255,255,0.75);
}

/***************************
 **** Block 'container' ****
 ***************************/

/*Block: 'container'*/
.container {
  overflow: hidden;
  width: 100%;
}

/*Block: 'container', modifier 'theme' with value 'simple'*/
.container_theme_simple {
    border: thin solid #888888;
    background-color: rgba(255,255,255,0.75);
}

.container_theme_invisible {
    border: none;
    background-color: none;
}

/************************************
 **** Block 'students-tabs-list' ****
 ************************************/

.student-tabs-list {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*Block: 'container', element 'link'*/
.student-tabs-list__link {
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  padding:5px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}


/************************************
 **** Block 'students-tab' ****
 ************************************/
.students-tab {
  margin: 10px;
  border-bottom: thin solid #888888;
}

/*****************************
 **** Block 'log-in-form' ****
 *****************************/

.log-in-form {
  margin: auto;
  width: 175px;
  padding: 20px 40px 20px 40px;
  display: block;
  overflow: hidden;
  border: thin solid #888888;
  background-color: rgba(255,255,255,0.75);
}

.log-in-form__field {
  width:100%;
  /*box-sizing: border-box;*/
  margin-bottom: 10px;
  height: 35px;
}

.log-in-form__button {
    height: 40px;
    background-color: #2e7da3;
    /*border: none;*/
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

/***********************
 **** CHEATS ON BEM ****
 ***********************/

/*A little cheat on BEM to add red border for debugging...*/
.debug {
  border: solid red;
}

/* One more little cheat on BEM in order to use Ember.js link-to Handelbars
 * helper */
.active{
  background-color: #fff;
  color: #2e7da3;
  z-index: 5;
}
